.header {
    width: 100%;
    background-color: #34d66a;
    padding: 12px;
    }


.header__wrapper {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 12px 224px; */
gap: 120px;

}
.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company {
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: rgb(46, 46, 46);
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__link {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    .header-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
}

.header__liked {
	fill: transparent;
	stroke: black;
	stroke-width: 0.5px
}
.header__bubble {
  background-color: #b40909;
  color: white;
  font-size: 11px;
  width: 19px;
  height: 14px;
  border-radius: 30px;
  position: absolute;
  left: 45%;
  bottom: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.header__bubble-link {
  text-decoration: none;
position: relative;
}
.header__link {
  text-decoration: none;

}