.footer {
    width: 100%;
    background-color: #34d66a;
    padding: 12px;
    }


.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.footer__left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.company {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(46, 46, 46);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 30px; 
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    font-weight: 700;
    font-size: 16px;
    }

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
}
    

@media (max-width: 700px) {
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

